{% extends "base.html" %}
{% block main %}
  <div class="sample">
    {% for x in books %}
    <a href="{{url_for('detail', bookid=x.id) }}">
<img src="{{ url_for('static', filename='images/'+x.img) }}"
             alt="Couverture de {{ x.title }}"
             title="{{ x.title }}"
        />
      </a>
      {% endfor %}
   </div>
{% endblock %}
